* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.Top h1 {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 20px;
}

.Animated h1{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 20px;
}
.Menu ul {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.Section {
    width: 100vw;
    padding: 1rem 5vw;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}

/**Design One**/


.Design-one {
    width: 100%;
    background-color: #000000;
    padding: 2rem 0;
    text-align: center;
    color: #ffffff;
    margin-top: 3vh;
}

.footer-content-one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 1rem;

}

.footer-logo img {
    max-width: 100px; 
}

.menu-one {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

.menu-one li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu-one nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}



.footer-icons {
    display: flex;
    gap: 1rem;
    font-size: 24px;

}


hr {
    width: 100%;
    border: none;
    border-top: 3px solid #ffffff;
    margin: 2rem 0;
}

.footer-copyright {
    font-size: 0.875rem; 
}

/**Design Two**/



.Design-two {
    width: 100%;
    background-color: #e0e0e0;
    padding: 2rem 0;
    color: #333;
    margin-top: 3vh;

}

.footer-content-two {
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 2rem;

}

.footer-logo-two {
    text-align: left;
    margin-left: 40px;
}

.text-content h3 {
    margin: 1rem 0;
}

.design-2-form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.input-container {
    display:block;
    flex-direction: column;
    gap: 0.5rem;

}

.input-container input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
    max-width: 300px;
}

.input-container button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #555;
}

.input-container p {
    font-size: 0.875rem;
    color: #666;
}

.Column-1, .Column-2, .Column-3 {
    flex: 0 15 200px;
}

.Column-1 nav ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}


nav h3 {
    margin-bottom: 1rem;
}


hr {
    width: 100%;
    border: none;
    border-top: 1px solid #333;
    margin: 2rem 0;
}

.footer-copyright {
    text-align: center;
    font-size: 0.875rem;
    color: #666;
}


/**Design Three**/

.Design-three {
    width: 100%;
    background-color: #e0e0e0;
    padding: 2rem 0;
    color: #333;
    margin-top: 3vh;
}

.footer-content-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
}

.footer-logo-three {
    flex: 1;
    display: flex;
    justify-content: center;

}
.footer-logo-three img {
  width: 150px;

}

.text-content h3 {
    margin: 1rem 0;
}

.columns-container-three {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 3rem; 
}

.column-three {
    flex: 1;
    padding: 0 1rem;
}

.column-three h3 {
    margin-bottom: 1rem;
}

.column-three ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.column-three ul li {
    margin-bottom: 0.5rem;
}

.column-three ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}


.footer-icons-three{
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.footer-icons-three a  {
    color: #333;
    text-decoration: none;
    margin: 0 0.5rem;
    transition: color 0.3s ease;
}



hr {
    width: 100%;
    border: none;
    border-top: 1px solid #333;
    margin: 2rem 0;
}

.footer-copyright {
    text-align: center;
    font-size: 0.875rem;
    color: #666;
}
/**Design Four**/


.footer-content-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 10rem;
    
}

.subscribe-form{
    display:block;
    gap: 1rem;
}
.design-4-form{
    display: flex;
    gap: 1rem;
}

.subscribe-text h3 {
    margin: 1rem 0;
}

.subscribe-text p {
    color: #666;
}

.design-4-form input{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
    max-width: 300px;
}

.design-4-form button{
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.footer-content-menu-4 {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    margin: 1rem 10rem;
    padding-bottom: 20px;
}

.footer-content-menu-4 ul a{
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-last-4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 8rem;
    padding-bottom: 10rem;
}

.footer-logo-4 img {
    width: 150px;
    margin-top: 0rem;
    margin-bottom: 1rem;
}
.Design-5 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #f9f9f9;
    padding: 2rem 5rem;
    justify-content: space-between;
    text-align: left;
}

.content-wrapper {
    width: 100%;
}


/**Design Five**/

.Design-5 {
    background-color: #f9f9f9;
    padding: 2rem 5rem;
    text-align: left;
}

.Design-5-static {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.Logo img {
    width: 150px;

}

.contact-info {
    flex: 1; 
}

.contact-info h3 {
    margin-top: 0; 
}

.contact-info p {
    color: #666;
    margin-bottom: 10px;
}

.contact-info a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 20px;
    margin-right: 10px; 
}

.menu-5 {
    display: flex;
    gap: 2rem;
}

.menu-5 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-5 li {
    margin: 0.5rem 0;
}
.menu-5 li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.separator {
    width: 100%;
    border: 1px solid #ddd; 
    margin: 1rem 0; 
}


/** Animation**/

/*Design One Animated*/
.Design-one-animated {
    width: 100%;
    background-color: #000000;
    padding: 2rem 0;
    text-align: center;
    color: #ffffff;
    margin-top: 3vh;
}

.footer-content-one-animated {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 1rem;
}

.footer-logo-one-animated img {
    max-width: 100px; 
    transition: transform 0.3s ease;
}

.footer-logo-one-animated:hover {
    transform: scale(1.05);
}

.footer-icons-animated i {
    font-size: 24px;
    transition: transform 0.3s ease; 
}

.footer-icons-animated i:hover {
    transform: scale(1.1);
}


.menu-animated {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-animated li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu-animated li a:hover {
    color: #cccccc;
}

.footer-icons-animated {
    display: flex;
    gap: 1rem;
    font-size: 24px;

}

hr {
    width: 100%;
    border: none;
    border-top: 3px solid #ffffff;
    margin: 2rem 0;
}

.footer-copyright-animated {
    font-size: 0.875rem; 
}

/**Design Two Animated**/



.Design-two-animated {
    width: 100%;
    background-color: #e0e0e0;
    padding: 2rem 0;
    color: #333;
    margin-top: 3vh;

}

.footer-content-two-animated {
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 2rem;

}

.footer-logo-two-animated {
    text-align: left;
    margin-left: 40px;
}

.footer-logo-two-animated {
    text-align: left;
    margin-left: 40px;
}

.footer-logo-two-animated img {
    transition: transform 0.3s ease;
}

.footer-logo-two-animated img:hover {
    animation: logo-bounce 0.5s ease infinite; 
}

@keyframes logo-bounce {
    0% {
        transform: scale(1) rotate(0deg); 
    }
    50% {
        transform: scale(1.1) rotate(5deg); 
    }
    100% {
        transform: scale(1) rotate(0deg); 
    }
}


.text-content-animated h3 {
    margin: 1rem 0;
}

.design-2-form-animated {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.input-container-animated {
    display:block;
    flex-direction: column;
    gap: 0.5rem;

}

.input-container-animated input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
    max-width: 300px;
}

.input-container-animated button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input-container-animated button:hover {
    background-color: #555;
}

.input-container-animated p {
    font-size: 0.875rem;
    color: #666;
}

.Column-1-animated{
    flex: 0 15 200px;
}

.Column-1-animated nav ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.Column-1-animated nav ul li a:hover {
    color: #922222;
}


nav h3 {
    margin-bottom: 1rem;
}


hr {
    width: 100%;
    border: none;
    border-top: 1px solid #333;
    margin: 2rem 0;
}

.footer-copyright-animated {
    text-align: center;
    font-size: 0.875rem;
    color: #666;
}


/**Design Three Animated**/


.Design-three-animated {
    width: 100%;
    background-color: #e0e0e0;
    padding: 2rem 0;
    color: #333;
    margin-top: 3vh;
}

.footer-content-three-animated {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
}

.footer-logo-three-animated {
    flex: 1;
    display: flex;
    justify-content: center;

}
.footer-logo-three-animated img {
  width: 150px;

}

.text-content-animated h3 {
    margin: 1rem 0;
}

.columns-container-three-animated {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 3rem; 
}

.column-three-animated {
    flex: 1;
    padding: 0 1rem;
}

.column-three-animated h3 {
    margin-bottom: 1rem;
}

.column-three-animated ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}



.column-three-animated ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.column-three-animated ul li a:hover {
    background-color: #e0e0e0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.footer-icons-three-animated{
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.footer-icons-three-animated a  {
    color: #333;
    text-decoration: none;
    margin: 0 0.5rem;
    transition: color 0.3s ease;
}


.footer-icons-three-animated a:hover {
    color: #666;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid #333;
    margin: 2rem 0;
}

.footer-copyright {
    text-align: center;
    font-size: 0.875rem;
    color: #666;
}




/**Design Four Animated**/


.Design-4-animated{

    display: flex;
    gap: 1rem;
    background-color: #3a9405;
    padding: 2rem;
    align-items: center;
    text-align: left;

}

.footer-content-4-animated {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 10rem;
    
}

.subscribe-form-animated{
    display:block;
    gap: 1rem;
}
.design-4-form-animated{
    display: flex;
    gap: 1rem;
}

.subscribe-text-animated h3 {
    margin: 1rem 0;
}

.subscribe-text-animated p {
    color: #666;
}

.design-4-form-animated input{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
    max-width: 300px;
}

.design-4-form-animated button{
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.design-4-form-animated button:hover{
    background-color: #3a9405;
}

.footer-content-menu-4-animated {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    margin: 1rem 10rem;
    padding-bottom: 20px;
}   

.footer-content-menu-4-animated ul a{
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}
.footer-content-menu-4-animated ul a:hover{
    color: #3a9405;
    text-decoration: underline;
}

.footer-last-4-animated{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 8rem;
    padding-bottom: 10rem;
}

.footer-logo-4-animated img {
    width: 150px;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.footer-logo-4-animated img:hover {
    animation: logo-bounce 0.5s ease infinite; 
}

.Design-5 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #f9f9f9;
    padding: 2rem 5rem;
    justify-content: space-between;
    text-align: left;
}

.content-wrapper {
    width: 100%;
}


/**Design Five Animated**/


.Design-5-animated {
    background-color: #f9f9f9;
    padding: 2rem 5rem;
    text-align: left;
}

.Design-5-static-animated {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.Logo-animated img {
    width: 150px;
}

.contact-info-animated {
    flex: 1; 
}

.contact-info-animated h3 {
    margin-top: 0; 
}

.contact-info-animated p {
    color: #666;
    margin-bottom: 10px;
}

.contact-info-animated a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 20px;
    margin-right: 10px; 
}

.menu-5-animated {
    display: flex;
    gap: 2rem;
}

.menu-5-animated ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-5-animated li {
    margin: 0.5rem 0;
}

.menu-5-animated li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 0.5rem;
    display: block;
}

.menu-5-animated li a:hover {
    color: #666;
    background-color: #e0e0e0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.separator-animated {
    width: 100%;
    border: 1px solid #ddd; 
    margin: 1rem 0; 
}
